mode = "2pass"
device = "cpu"
ncpu = 4
offline_asr_model = "paraformer-zh"
online_asr_model = "paraformer-zh-streaming"
vad_model = "fsmn-vad"
punc_model = "ct-punc"
chunk_size = [0, 10, 5]
chunk_interval = 10
encoder_chunk_look_back = 4
decoder_chunk_look_back = 1
log_path = ".runtime/logs/local-stt-funasr.log"
